[submodule "deps/sokol"]
	path = deps/sokol
	url = https://github.com/floooh/sokol.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/quirrel"]
	path = deps/quirrel
	url = https://github.com/GaijinEntertainment/quirrel
[submodule "deps/pugixml"]
	path = deps/pugixml
	url = https://github.com/zeux/pugixml
[submodule "deps/physfs"]
	path = deps/physfs
	url = https://github.com/icculus/physfs
[submodule "deps/parallel-hashmap"]
	path = deps/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/sokol_gp"]
	path = deps/sokol_gp
	url = https://github.com/edubart/sokol_gp
[submodule "deps/doctest"]
	path = deps/doctest
	url = https://github.com/doctest/doctest
[submodule "deps/sokol-tools-bin"]
	path = deps/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "deps/tracy"]
	path = deps/tracy
	url = https://github.com/wolfpld/tracy
